<div class="admin-main">
<% f.field_set Developer.human_name do %>

<%= f.text_field :first_name %>

<%= f.text_field :last_name %>

<%= f.date_select :born_on %>

<%= f.text_field :years_employed %>

<%= f.check_box :manager %>

<%= f.text_area :note %>

<%= f.select :company_id, Company.for_select, { :include_blank => true } %>

<% end -%>
</div>
